<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/template2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">


</head>

<body>
    <main>
        <section class="images">
            <!-- Bootstrap carousel -->
            <div id="carouselExampleIndicators" class="carousel slide">

                <div class="carousel-indicators">
                    <% if (Array.isArray(project.images) && project.images.length> 0) { %>
                        <% project.images.forEach((image, index)=> { %>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"
                                aria-current="<%= index === 0 ? 'true' : 'false' %>"
                                aria-label="Slide <%= index + 1 %>">
                            </button>
                            <% }) %>
                                <% } else { %>
                                    <!-- Default indicator -->
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                    </button>
                                    <% } %>
                </div>

                <div class="carousel-inner">
                    <% if (Array.isArray(project.images) && project.images.length> 0) { %>
                        <% project.images.forEach((image, index)=> { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="<%= image.secure_url %>" class="d-block w-100">
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <div class="carousel-item active">
                                        <img src="/images/blue_sand.png" class="d-block w-100">
                                    </div>
                                    <% } %>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>


        <section class="heroSection">
            <h1>
                <%= project.project_name%>
            </h1>

            <% project.tags.forEach(tag=> { %>
                <p class=" tag">
                    &#10003; &nbsp; <%= tag.tag_name %>
                </p>
                <% }) %>
        </section>

        <section id="banner">

            <div id="banner-container">
                <p id="banner-item1">case</p>
                <p id="banner-item2"></p>
                <p id="banner-item3">Project-showcase</p>
            </div>

        </section>

        <section class="jobExplanation">
            <h2>
                How this project makes me suitable for the job.
            </h2>
            <p class="text">
                <%= project.job_explanation%>
            </p>
        </section>

        <section class="videos" <%=project.videos.length < 1? "hidden" : "" %>>
            <!-- Bootstrap carousel for videos -->
            <div id="carouselVideoIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <% project.videos.forEach((video, index)=> { %>
                        <button type="button" data-bs-target="#carouselVideoIndicators" data-bs-slide-to="<%= index %>"
                            class="<%= index === 0 ? 'active' : '' %>"
                            aria-current="<%= index === 0 ? 'true' : 'false' %>" aria-label="Slide <%= index + 1 %>">
                        </button>
                        <% }) %>
                </div>

                <div class="carousel-inner">
                    <% project.videos.forEach((video, index)=> { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <video class="d-block" autoplay muted loop>
                                <source src="<%= video.secure_url %>" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <% }) %>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideoIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselVideoIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="projectExplanation">
            <h2>
                Understanding the purpose and scope of this project.
            </h2>
            <p class="text">
                <%= project.description%>
            </p>
        </section>
        <footer></footer>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
        </script>

    <script>
        const videoCarousel = document.getElementById('carouselVideoIndicators');
        const videos = videoCarousel.querySelectorAll('video');

        // makes the controls appear when hovering - stop carousel from playing and the pointer
        videos.forEach(video => {
            video.addEventListener('mouseenter', () => {
                video.controls = true;
                video.pause();

                // stops the mouse form interacting with the carousel 
                videoCarousel.classList.add('pointer-events-none');
            });

            video.addEventListener('mouseleave', () => {
                video.controls = false;
                video.play();

                // allows the pointer events to occur - this means element ignores all pointer events. Clicks and hovers pass through it to whatever is underneath the element
                videoCarousel.classList.remove('pointer-events-none');
            });
        });
    </script>
</body>

</html>